.env
.env.*
!.env.example
*.pem
*-key.json
service-account*.json
**/service-account*.json
*-sa.json
**/credentials/*.json
node_modules/
dist/
.gcloud/

[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
[Dd]ebug/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Bb]uild/
[Bb]uilds/
*.cache
project.lock.json
project.fragment.lock.json
artifacts/

*.user
*.userosscache
*.suo
*.sln.docstates
*.rsuser

.vs/
.idea/

*.nupkg
*.snupkg
**/packages/

appsettings.*.local.json
**/appsettings.*.local.json
secrets.json
